cache/
chroot/
.build/
*.iso
*.img
*.zsync*
*.contents
*.files
*.packages
*.buildlog
binary/
*.log
*.vdi
*.vmdk
*.qcow2
binary.modified_timestamps
chroot.packages.install
chroot.packages.live
chroot.packages.remove
wget-log*
*.hybrid.iso
*.deb
*.iso.asc
*.iso.sha256
calamares-3.3.5/
calamares_3.3.5*
*.deb
build-assets/materia-theme/
