cache/
chroot/
.build/
*.iso
*.img
*.zsync
*.contents
*.files
*.packages
*.buildlog
binary/
*.log
*.vdi
*.vmdk
*.qcow2
binary.modified_timestamps
chroot.packages.install
chroot.packages.live
chroot.packages.remove
config/binary
wget-log*
*.zsync*
*.hybrid.iso
*.zsync*
*.hybrid.iso
