Package: cipher-forensics
Version: 1.0
Section: metapackages
Priority: optional
Architecture: amd64
Depends: binwalk, exiftool, steghide, foremost, sleuthkit, hexedit, bulk-extractor
Maintainer: CIPHER Linux <team@cipherlinux.org>
Description: CIPHER Linux forensics toolkit
 Installs digital forensics and CTF-style analysis tools for CIPHER
 Linux users learning forensics fundamentals.
