Package: cipher-forensics
Version: 1.1
Section: metapackages
Priority: optional
Architecture: amd64
Depends: binwalk, exiftool, steghide, foremost, sleuthkit, hexedit
Maintainer: CIPHER Linux <sachinshady6@gmail.com>
Description: CIPHER Linux forensics toolkit
 Installs digital forensics and CTF-style analysis tools for CIPHER
 Linux users learning forensics fundamentals.
