insmod all_video
insmod gfxterm
insmod png
terminal_output gfxterm

set pager=1
set debug=gfxmenu,png

set theme=/boot/grub/themes/cipher/theme.txt
export theme

menuentry "Live system (amd64)" {
    echo "test entry 1 selected"
}
menuentry "Live system (amd64) fail-safe mode" {
    echo "test entry 2 selected"
}
menuentry "Utilities..." {
    echo "test entry 3 selected"
}
