set timeout=-1
insmod all_video
insmod png
loadfont /boot/grub/themes/cipher/cipher.pf2
set theme=/boot/grub/themes/cipher/theme.txt
export theme

menuentry "Live system (amd64)" {
    echo "This is a theme test — no real kernel to boot."
}
menuentry "Live system (amd64 fail-safe mode)" {
    echo "This is a theme test — no real kernel to boot."
}
submenu "Utilities..." {
    menuentry "Test" {
        echo "test"
    }
}
