Package: cipher-dev
Version: 1.0
Section: metapackages
Priority: optional
Architecture: amd64
Depends: build-essential, python3-pip, python3-venv, default-jdk
Maintainer: CIPHER Linux <team@cipherlinux.org>
Description: CIPHER Linux development toolkit
 Installs core development tools and language runtimes for CIPHER
 Linux users learning software development fundamentals.
